<!DOCTYPE html>
<html>
    <head>
    <link href="Style.css" rel="stylesheet" type="text/css"/>
    </head> 
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="Register.html">Registrandose</a></li>
                    <li><a href="contact.html">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="tarjeta">
                <header>
                    <h3>Ingreso para Usuarios</h3>
                </header>
                <form>
                    <div>
                        <label>Correo</label>
                        <input />
                    </div>
                    <div>
                        <label>Contrase&ntilde;a</label>
                        <input type="password" />
                    </div>
                    <button>Ingresar</button>
                </form>
            </div>
        </section>
        <footer>
        </footer>
    </body>
</html>


